[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
	path =
[user]
	name = Felipe Vieira
	email = me@felipet.io
[pull]
	rebase = true
[http]
	sslVerify = false
[core]
	excludesfile = /Users/felipe/.gitexclude
	trustctime = false
	editor = vim -f
[alias]
	st = status -sb
	up = fetch -ap
	ci = commit
	br = branch
	go = checkout
	rb = rebase
	lg = log --oneline --decorate --all --graph --stat
	df = diff
	dfa = diff --cached
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	gpgsign = true
[checkout]
	defaultRemote=origin
