[difftool "vimdiff"]
	cmd = vimdiff \"$LOCAL\" \"$REMOTE\"
[user]
	name = Felipe Vieira
	email = me@felipet.io
[pull]
	rebase = true
[http]
	sslVerify = false
[core]
	excludesfile = ~/.gitexclude
	trustctime = false
	editor = mvim -f
[alias]
	st = status -sb
	up = fetch -ap
	ci = commit
	br = branch
	go = checkout
	rb = rebase
	lg = log --oneline --decorate --all --graph --stat
	df = diff
	dfa = diff --cached
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
[content]
	editor = mvim -f
